:root {
    --primary-bg: rgb(248, 217, 217);
    --cash-input: rgb(221, 197, 197);
    --border-val: #636161 solid 2px;
    --handle-clr: rgb(8, 8, 8);
    --price-display: rgb(0, 0, 0);
    --price-display-clr: rgb(255, 255, 255);
    --change-drawer: rgb(255, 250, 251);
    --focus-outline: rgb(201, 235, 9);
    --purchase-btn: #1DA1F2;
    --prchse-btn-hover: #0056b3;
}

body {
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
    height: 100vh;
    margin: 0;
    font-size: 18px;
}
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}
.cash-input, #cash-register, #drawer {
    background-color: var(--cash-input);
    border: var(--border-val);
}
.cash-input { 
    display: flex; 
    
    border-radius: 10px 10px 0 0;
    width: 400px;
    height: 250px;
    text-align: center;

}
.user-input {
    width: 150px;
    padding: 10px;
}
#cash-register {
    width: 400px;
    height: 400px;
    background-color: var(--cash-input);
    display: grid;
    justify-content: space-around;
    grid-template-areas: 
    "item1 item2"
    "item3 item2"
    ".     item2";   
 
}
#price-display{
    grid-area: item1;
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 40px auto;
    height: 50px;
    width: 100px;
    background-color: var(--price-display);
    color: var(--price-display-clr)
}
#bttns-container {
    grid-area: item3;
    display: flex;
    justify-content: center;
}
#bttns {
    grid-area: item3; 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: repeat(3, 1fr);
    gap: 5px;

}
.c-bttns {
    width: 30px;
    height: 30px;
    
}
#change-drawer {
    grid-area: item2;
    text-align: center;
    width: 200px;
    height: 80%;
    background-color: var(--change-drawer);
    align-self: center;
}
#drawer { 
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#handle {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--handle-clr);
}

h1 {
    text-align: center;    
}
h2 {
    font-size: 1.1rem;
}
p {
    padding-left: 10px;
    letter-spacing: 1px;
    text-align: left;
    font-size: 0.8rem;
    overflow-wrap:break-word;
}


label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}

input {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 20px;
    border: var(--border-val);
    border-radius: 5px;
    font-size: 1em;
}

#purchase-btn {
    background-color: var(--purchase-btn);
    border: 2px solid #1190df;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

#purchase-btn:hover {
    background-color: var(--prchse-btn-hover);
}

.change-due {
    
    font-size: 0.9rem;
    font-weight: bold;
}
#purchase-btn:focus,
input:focus {
    outline: 4px solid var(--focus-outline);
}
